<!--section class="py-5">
  <gif-list [items]="gifs()"></gif-list>
</!--section-->

<div class="h-screen bg-red-500 overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4 pt-5"
  (scroll)="onScroll($event)"
  #groupDiv
>

  @for (group of gifsService.trendingGifGroup(); track $index) {
  <div class="grid gap-4">
    @for (gif of group; track $index) {

    <div>
      <img class="h-auto max-w-full rounded-base object-cover" [src]="gif.url" [alt]="gif.title">
    </div>


    }



  </div>



  }

</div>
